@font-face {
  font-family: 'Sky Bold';
  src: url("../fonts/sky_bold.woff2") format("woff2"), url("../fonts/sky_bold.woff") format("woff");
  font-style: normal; }

@font-face {
  font-family: 'Sky Italic';
  src: url("../fonts/sky_italic.woff2") format("woff2"), url("../fonts/sky_italic.woff") format("woff");
  font-style: normal; }

@font-face {
  font-family: 'Sky Med';
  src: url("../fonts/sky_med.woff2") format("woff2"), url("../fonts/sky_med.woff") format("woff");
  font-style: normal; }

@font-face {
  font-family: 'Sky Reg';
  src: url("../fonts/sky_reg.woff2") format("woff2"), url("../fonts/sky_reg.woff") format("woff");
  font-style: normal; }

@font-face {
  font-family: 'Sky Q';
  src: url("../fonts/sky-q-icons.woff2") format("woff2"), url("../fonts/sky-q-icons.woff") format("woff");
  font-style: normal; }
