/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 0;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

button,
input,
optgroup,
select,
textarea, html input[type="button"],
input[type="reset"],
input[type="submit"], button[disabled],
html input[disabled], button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none; }

.hero__title {
  font-size: 20px;
  line-height: 24px;
  font-family: "Sky Reg", sans-serif;
  color: #0d0d0d;
  font-weight: 300;
  margin: 0; }
  @media screen and (min-width: 768px) {
    .hero__title {
      font-size: 32px;
      line-height: 32px;
      color: #ffffff; } }

.hero__cta {
  border: 1px solid #0d0d0d;
  background: transparent;
  padding: 10px 25px;
  border-radius: 40px;
  color: #0d0d0d;
  font-family: "Sky Reg", sans-serif;
  font-weight: 500;
  margin: 0 auto;
  display: block;
  font-size: 12px; }
  @media screen and (min-width: 768px) {
    .hero__cta {
      border-color: #ffffff;
      color: #ffffff;
      padding: 20px 25px;
      font-size: 14px; } }

.description__par {
  font-family: "Sky Reg", sans-serif;
  font-size: 14px;
  line-height: 20px; }
  @media screen and (min-width: 768px) {
    .description__par {
      font-size: 16px; } }

@font-face {
  font-family: 'Sky Bold';
  src: url("../fonts/sky_bold.woff2") format("woff2"), url("../fonts/sky_bold.woff") format("woff");
  font-style: normal; }

@font-face {
  font-family: 'Sky Italic';
  src: url("../fonts/sky_italic.woff2") format("woff2"), url("../fonts/sky_italic.woff") format("woff");
  font-style: normal; }

@font-face {
  font-family: 'Sky Med';
  src: url("../fonts/sky_med.woff2") format("woff2"), url("../fonts/sky_med.woff") format("woff");
  font-style: normal; }

@font-face {
  font-family: 'Sky Reg';
  src: url("../fonts/sky_reg.woff2") format("woff2"), url("../fonts/sky_reg.woff") format("woff");
  font-style: normal; }

@font-face {
  font-family: 'Sky Q';
  src: url("../fonts/sky-q-icons.woff2") format("woff2"), url("../fonts/sky-q-icons.woff") format("woff");
  font-style: normal; }

.hero {
  position: relative; }

.hero__bgWrapper {
  width: 100%;
  position: relative; }
  @media screen and (min-width: 768px) {
    .hero__bgWrapper {
      height: 0;
      overflow: hidden;
      position: relative;
      padding-top: 47%; } }

.hero__bg {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .hero__bg {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; } }

.hero__bgOpacity {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: .4;
  z-index: 1; }

.hero__logoWrapper {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  @media screen and (min-width: 768px) {
    .hero__logoWrapper {
      padding: 30px; } }

.hero__content {
  width: 100%;
  line-height: 1;
  padding: 30px 20px 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #1f1f1f; }
  @media screen and (min-width: 768px) {
    .hero__content {
      position: absolute;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);
      margin-top: 0;
      padding: 0;
      border: 0; } }

.hero__title {
  display: block;
  text-align: center;
  opacity: .1; }

.hero__cta {
  margin-top: 20px;
  cursor: pointer;
  opacity: .1; }
  @media screen and (min-width: 768px) {
    .hero__cta {
      margin-top: 30px; } }

.hero__logoSport {
  width: 100px;
  opacity: .1; }
  @media screen and (min-width: 768px) {
    .hero__logoSport {
      width: 160px; } }
  .hero__logoSport > img {
    width: 100%; }

.hero__logoSky {
  width: 50px;
  opacity: .1; }
  @media screen and (min-width: 768px) {
    .hero__logoSky {
      width: 70px; } }
  .hero__logoSky > img {
    width: 100%; }

.hero__btnRound {
  position: absolute;
  z-index: 1;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1f1f1f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../images/arrow-down.png");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 0 rgba(31, 31, 31, 0.8);
  animation: pulse 2s infinite; }
  @media screen and (min-width: 768px) {
    .hero__btnRound {
      width: 53px;
      height: 53px;
      bottom: -24px; } }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(31, 31, 31, 0.4); }
  70% {
    box-shadow: 0 0 0 10px rgba(31, 31, 31, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(31, 31, 31, 0); } }

.description {
  padding: 70px 30px 50px; }
  @media screen and (min-width: 1024px) {
    .description {
      padding: 100px 200px 30px; } }

.description__par {
  text-align: center;
  line-height: 22px;
  opacity: .3; }

.slider.swiper-container {
  padding: 30px 0 50px; }
  @media screen and (min-width: 768px) {
    .slider.swiper-container {
      padding: 100px 0; } }

.slider .swiper-slide {
  position: relative;
  transition: all .4s ease; }

.slider .swiper-slide-active {
  transition: all .4s ease;
  transform: scale(1.2);
  z-index: 9; }
  .slider .swiper-slide-active .slider__img {
    box-shadow: 0px 10px 24px 1px rgba(0, 0, 0, 0.3); }
  .slider .swiper-slide-active .slider__title {
    transition: opacity .4s ease-in .3s;
    opacity: 1;
    font-weight: 700; }
  .slider .swiper-slide-active .slider__text {
    transition: opacity .4s ease-in .5s;
    opacity: 1; }

.slider .swiper-button-next {
  display: none; }
  @media screen and (min-width: 768px) {
    .slider .swiper-button-next {
      display: block;
      right: 13%; } }

.slider .swiper-button-prev {
  display: none; }
  @media screen and (min-width: 768px) {
    .slider .swiper-button-prev {
      display: block;
      left: 13%; } }

.slider .swiper-button-next:after {
  content: url("../images/slider/ic-right.png"); }

.slider .swiper-button-prev:after {
  content: url("../images/slider/ic-left.png"); }

.slider .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  opacity: 1; }

.slider .swiper-pagination-bullet-active {
  background-color: #a82525; }

.slider__wrapperImg {
  position: relative; }
  .slider__wrapperImg:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    background-color: #000000;
    opacity: .5; }

.slider__img {
  width: 100%; }

.slider__textWrappper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center; }

.slider__title {
  color: #ffffff;
  font-family: "Sky Reg", sans-serif;
  line-height: 1;
  transition: opacity .3s ease;
  opacity: 0; }

.slider__text {
  color: #ffffff;
  font-family: "Sky Reg", sans-serif;
  font-weight: 300;
  line-height: 1;
  padding-top: 5px;
  transition: opacity .3s ease;
  opacity: 0; }

.slider__error {
  font-family: "Sky Reg", sans-serif;
  text-align: center;
  width: 100%;
  font-size: 24px;
  color: #a82525; }

.contact {
  padding: 60px 30px;
  margin-top: 80px;
  background-color: #efefef; }
  @media screen and (min-width: 1024px) {
    .contact {
      padding: 80px 200px; } }

.contact__wrapperForm {
  position: relative; }

.contact__rowInput {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column; }
  @media screen and (min-width: 768px) {
    .contact__rowInput {
      -ms-flex-direction: row;
          flex-direction: row; } }
  .contact__rowInput + .contact__rowInput {
    margin-top: 30px; }
    @media screen and (min-width: 768px) {
      .contact__rowInput + .contact__rowInput {
        margin-top: 20px; } }

.contact__wrapperInput {
  width: 100%;
  height: 45px;
  box-sizing: border-box; }
  @media screen and (min-width: 768px) {
    .contact__wrapperInput {
      width: 50%; } }
  .contact__wrapperInput + .contact__wrapperInput {
    margin-top: 30px; }
    @media screen and (min-width: 768px) {
      .contact__wrapperInput + .contact__wrapperInput {
        margin-top: 0;
        margin-left: 20px; } }
  @media screen and (min-width: 768px) {
    .contact__wrapperInput--alone {
      width: calc(50% - 10px); } }

.contact__input {
  width: 100%;
  height: 45px;
  font-family: "Sky Reg", sans-serif;
  font-size: 16px;
  padding: 0 20px;
  box-sizing: border-box;
  border: 0; }
  .contact__input:focus {
    outline: 0; }
  .contact__input.error {
    border: 1px solid #d02626; }

.contact__inputError {
  color: #d02626;
  font-family: "Sky Med", sans-serif;
  font-size: 10px;
  margin-top: 8px; }

.contact__wrapperBtn {
  margin-top: 20px;
  text-align: center; }

.contact__btn {
  width: 230px;
  height: 50px;
  background-color: #3d539b;
  color: #ffffff;
  font-family: "Sky Reg", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px; }

.contact__success {
  margin-top: 20px;
  opacity: 0; }
  .contact__success.success {
    opacity: 1;
    transition: opacity .2s ease; }

.contact__successText {
  font-family: "Sky Reg", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #3d539b;
  line-height: 18px;
  background-color: #efefef; }

.videoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: opacity .6s ease;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  .videoOverlay.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .6s ease; }

.videoOverlay__video {
  width: 70%; }

.videoOverlay__close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99;
  background: transparent;
  border: 0;
  cursor: pointer; }

.videoOverlay__closeImg {
  width: 32px;
  height: 32px; }

footer {
  background-color: #0d0d0d;
  line-height: 1;
  padding-top: 30px;
  box-shadow: 0px -11px 29px 7px rgba(0, 0, 0, 0.3); }

.footer__disclaimer {
  text-align: center;
  color: #545454;
  font-family: "Sky Reg", sans-serif;
  font-size: 12px;
  line-height: 12px;
  padding: 20px 20px 60px; }
  @media screen and (min-width: 768px) {
    .footer__disclaimer {
      padding: 20px 140px 60px; } }

.footer__logos {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  .footer__logos > a + a {
    margin-left: 10px; }

.footer__img {
  width: 32px;
  height: 32px; }

.footer__btn {
  padding: 10px 18px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid #545454;
  border-radius: 4px;
  color: #545454;
  text-decoration: none;
  margin-top: 0;
  font-family: "Sky Reg", sans-serif;
  font-weight: 300;
  font-size: 10px; }
