.contact {
  padding: 60px 30px;
  margin-top: 80px;
  @include bp($l) {
    padding: 80px 200px;
  }
  background-color: $color-white-smoke;
}

.contact__wrapperForm {
  position: relative;
}

.contact__rowInput {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 
  @include bp($m) {
    flex-direction: row;
  }
 
  + .contact__rowInput {
    margin-top: 30px;
    @include bp($m) {
      margin-top: 20px;
    }
  }

}
.contact__wrapperInput {
  width: 100%;
  height: 45px;
  box-sizing: border-box;

  @include bp($m) {
    width: 50%;
  }
  + .contact__wrapperInput {
    margin-top: 30px;
    @include bp($m) {
      margin-top: 0;
      margin-left: 20px;
    }
  }

  &--alone {
    @include bp($m) {
      width: calc(50% - 10px);
    }
  }
}
.contact__input {
  width: 100%;
  height: 45px;
  font-family: $font-reg;
  font-size: 16px;
  padding: 0 20px;
  box-sizing: border-box;
  border: 0;

  &:focus {
    outline: 0;
  }

  &.error {
    border: 1px solid $color-cardinal;
  }

}

.contact__inputError {
  color: $color-cardinal;
  font-family: $font-med;
  font-size: 10px;
  margin-top: 8px;
}

.contact__wrapperBtn {
  margin-top: 20px;
  text-align: center;
}

.contact__btn {
  width: 230px;
  height: 50px;
  background-color: $color-blue;
  color: $color-white;
  font-family: $font-reg;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
}

.contact__success {
  margin-top: 20px;
  opacity: 0;
  &.success {
    opacity: 1;
    transition: opacity .2s ease;
  }
}
.contact__successText {
  font-family: $font-reg;
  font-size: 18px;
  text-align: center;
  color: $color-blue;
  line-height: 18px;
  background-color:  $color-white-smoke;
}