.description {
  padding: 70px 30px 50px;
  @include bp($l) {
    padding: 100px 200px 30px;
  }
}

.description__par {
  @extend %paragraph;
  text-align: center; 
  line-height: 22px;
  opacity: .3;
}