footer {
  background-color: $color-dark;
  line-height: 1;
  padding-top: 30px;
  box-shadow: 0px -11px 29px 7px rgba(0,0,0,0.3);
}

.footer__disclaimer {
  text-align: center;
  color: $color-grey-5;
  font-family: $font-reg;
  font-size: 12px;
  line-height: 12px;
  padding: 20px 20px 60px;

  @include bp($m) {
    padding: 20px 140px 60px;
  }
}

.footer__logos {
  text-align: center;
  display: flex;
  justify-content: center;

  > a {
    + a {
      margin-left: 10px;
    }
  }
}

.footer__img {
  width: 32px;
  height: 32px;
}

.footer__btn {
  padding: 10px 18px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid $color-grey-5;
  border-radius: 4px;
  color: $color-grey-5;
  text-decoration: none;
  margin-top: 0;
  font-family: $font-reg;
  font-weight: 300;
  font-size: 10px;
}