.hero {
  position: relative;
}

.hero__bgWrapper {
  width: 100%;
  position: relative;
  @include bp($m) {
    height: 0;
    overflow: hidden;
    position: relative;
    padding-top: (47 / 100) * 100%;
  }
}

.hero__bg {
  width: 100%;
  @include bp($m) {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.hero__bgOpacity {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-black;
  opacity: .4;
  z-index: 1;
}

.hero__logoWrapper {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include bp($m) {
    padding: 30px;
  }
}

.hero__content {
  width: 100%;
  line-height: 1;
  padding: 30px 20px 40px;
  box-sizing: border-box;
  border-bottom: 1px solid $color-darkBlue;
  @include bp($m) {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    margin-top: 0;
    padding:0;
    border:0;
  }
}

.hero__title {
  @extend %h1 !optional;
  display: block;
  text-align: center;
  opacity: .1;
}

.hero__cta {
  @extend %cta;
  margin-top: 20px;
  cursor: pointer;
  @include bp($m) {
    margin-top: 30px;
  }
  opacity: .1;
}

.hero__logoSport {
  width: 100px;
  opacity: .1;
  @include bp($m) {
    width: 160px;
  }
  > img {
    width: 100%;
  }
}

.hero__logoSky {
  width: 50px;
  opacity: .1;
  @include bp($m) {
    width: 70px;

  }
  > img {
    width: 100%;
  }
}

.hero__btnRound {
  position: absolute;
  z-index: 1;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-darkBlue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('../images/arrow-down.png');
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 0 rgba(31,31,31, 0.8);
  animation: pulse 2s infinite;

  @include bp($m) {
    width: 53px;
    height: 53px;
    bottom: -24px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(31,31,31, 0.8);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(31,31,31, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(31,31,31, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(31,31,31, 0.8);
    box-shadow: 0 0 0 0 rgba(31,31,31, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(31,31,31, 0);
      box-shadow: 0 0 0 10px rgba(31,31,31, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(31,31,31, 0);
      box-shadow: 0 0 0 0 rgba(31,31,31, 0);
  }
}