.slider {
 
  &.swiper-container{
    padding: 30px 0 50px;
    @include bp($m) {
      padding: 100px 0;
    }
  }

  .swiper-slide {
    position: relative;
    transition: all .4s ease;
  }

  .swiper-slide-active{
    transition: all .4s ease;
    transform: scale(1.2);
    z-index: 9;
    .slider__img {
      box-shadow: 0px 10px 24px 1px rgba(0,0,0,0.3);
    }
    .slider__title {
      transition: opacity .4s ease-in .3s;
      opacity: 1;
      font-weight: 700;
    }
    .slider__text {
      transition: opacity .4s ease-in .5s;
      opacity: 1;
    }
  }
  .swiper-button-next{    
    display: none;
    @include bp($m) {
      display: block;
      right: 13%;
    }
  }
  .swiper-button-prev{
    display: none;
    @include bp($m) {
      display: block;
      left: 13%;
    }
  }
  .swiper-button-next:after {
    content: url('../images/slider/ic-right.png');
  }
  .swiper-button-prev:after {
    content: url('../images/slider/ic-left.png');
  }

  .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: $color-red;
  }
}

.slider__wrapperImg {
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    background-color: $color-black;
    opacity: .5;
  }
}
.slider__img {
  width: 100%;
}

.slider__textWrappper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  text-align: center; 
}

.slider__title {
  color: $color-white;
  font-family: $font-reg;
  line-height: 1;
  transition: opacity .3s ease;
  opacity: 0;
}
.slider__text {
  color: $color-white;
  font-family: $font-reg;
  font-weight: 300;
  line-height: 1;
  padding-top: 5px;
  transition: opacity .3s ease;
  opacity: 0;
}

.slider__error {
  font-family: $font-reg;
  text-align: center;
  width: 100%;
  font-size: 24px;
  color: $color-red;
}