.videoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0,0,0,.9);
  transition: opacity .6s ease;
  display: flex;
  justify-content: center;
  &.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .6s ease;
  }
}

.videoOverlay__video {
  width: 70%;
}
.videoOverlay__close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.videoOverlay__closeImg {
  width: 32px;
  height: 32px;
}