//colors
$color-white: #ffffff;
$color-white-smoke: #efefef;
$color-red: #a82525;
$color-cardinal: #d02626;
$color-blue: #3d539b;
$color-darkBlue: #1f1f1f;
$color-grey-3: #333333;
$color-grey-5: #545454;
$color-grey-6: #666666;
$color-dark: #0d0d0d;
$color-black: #000000;



// font
$font-reg: 'Sky Reg', sans-serif;
$font-med: 'Sky Med', sans-serif;
$font-italic: 'Sky Italic', sans-serif;
$font-bold: 'Sky Bold', sans-serif;
$icons: 'Sky Q', sans-serif;

$text-base-size: 16px;


// breakpoint
$s: 320px;
$m: 768px;
$l: 1024px;
$xl: 1440px;
$xxl: 1920px;


//  BREAKPOINT MIXIN

@mixin bp($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin bpMax($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

//  REM CONVERTER
//  useage: font-size: rem(16px); in case of value 0 font-size: 0;
//––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

@function rem($size) {
  @return #{$size / $text-base-size}rem;
}


%h1 {
  font-size: 20px;
  line-height: 24px;
  font-family: $font-reg;
  color: $color-dark; 
  font-weight: 300; 
  margin: 0;
  @include bp($m) {
    font-size: 32px;
    line-height: 32px;
    color: $color-white; 
  }
}

%cta {
  border: 1px solid $color-dark;
  background: transparent;
  padding: 10px 25px;
  border-radius: 40px;
  color: $color-dark;
  font-family: $font-reg;
  font-weight: 500;
  margin: 0 auto;
  display: block;
  font-size: 12px;

  @include bp($m) {
    border-color: $color-white;
    color: $color-white;
    padding: 20px 25px;
    font-size: 14px;
  }
}

%paragraph {
  font-family: $font-reg;
  font-size: 14px;
  line-height: 20px;

  @include bp($m) {
    font-size: 16px;
  }
}