.hero {
  height: 0;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 47%; }

.hero__bgWrapper {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hero__bg {
  width: 100%; }

.hero__logoWrapper {
  width: 100%;
  padding: 60px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.hero__content {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%; }

.hero__title {
  display: block;
  text-align: center; }
